/* 中间分类模块 ---首页*/
.grid{
    height: 480px;
    position: relative;
   }
 
.grid-col1{
    width: 190px;
    height: 100%;
    background-color: #6e6568;
    margin-left: 50px;
    font-size: 15px;
    color: #ffffff;
   }
   .grid-col1 ul{
       padding: 8px 0;
       
   }
   .grid-col1 a{
    font-size: 15px;
    color: #ffffff;
    margin-right:0 3px;
}
.grid-col1 a:hover{
    color: #f10215;
}
   .grid-col1 ul li{
    padding-left: 10px;
    height: 26px;
    line-height: 26px;
}
.grid-col1 ul li:hover{
   background-color: #9c9698;
}
   .grid-col2{
    width: 790px;
    height: 100%;
    /* background-color:rebeccapurple; */
    margin-left: 10px;
   }
   
   .grid-col2-t img{
    border: 1px solid greenyellow;
   }
   .grid-col2-b div{
    border: 1px solid yellowgreen;
    float: left;
    margin-top: 10px;
   }
   .grid-col2-b div:last-child{
    border: 1px solid yellowgreen;
    float: right;
    margin-top: 10px;
   }
   /* 箭头部分 */
   .grid-col2-t{
       position: relative;
     
   }
   .arrow-l,.arrow-r{
    position: absolute;
    width: 30px;
    height: 60px;
    top:50%;
    background-color: rgba(0, 0,0,0.3);
    transform: translateY(-50%);
    line-height: 60px;
    font-size: 16px;
    color: #ffffff;
    font-family: Arial;
    font-weight: normal;
    text-align: center;
   }
   .arrow-r{
       right: 0;
   }
   .circle{
       width: 165px;
       height:20px ;
       /* background: rgba(0, 0,0,0.3); */
       position: absolute;
       left: 50%;
       transform: translateX(-50%);
        bottom: 20px;
        border-radius: 10%;
        padding-left: 6px;
   }
  .circle li{
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: #ffffff;
      line-height: 12px;
      float: left;
      margin: 0 4px;
      /* 鼠标经过变小手 */
        cursor: pointer;
  }
  .circle .current{
      background-color: #f10215;
  }
  /* 右边模块 */
  .grid-col3{
    width: 190px;
    height: 100%;
   
   }
  .login{
      height: 115px;
      border-bottom: 1px solid #ccc;
      background-color: pink;

  }
.login-b{
   padding-left: 10px;

}
.login-b a{
    display: block;
    width:70px;
    height: 30px; 
    border: 1.5px solid #f10215;
    color: #f10215;
    float: left;
    text-align: center;
    line-height: 30px;
    margin-right: 10px;
}
.login-b a:hover{
    background-color: #f10215;
    color: white;
}

  .login-t{
      width: 95px;
      height: 60px;
      line-height: 20px;
      font-size: 12px;
      /* 强制一行内显示 */
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: #9c9698;
      padding-left: 60px;
      position: relative;
  }
  .login-t a{
      color: #666;

  }
  .login-t a:hover {
    color: #f10215;
  }

  .news{
      height: 155px;
      border-bottom: 1px solid #ccc;
      background-color: purple;
      padding: 7px 13px 0;
      box-sizing: border-box;

  }
  .news-t{
      height: 19px;
      position: relative;
      border-bottom: 1px solid #ccc;

  }
  .news-t a{
      float: left;
      height: 17px;
      line-height: 17px;
  }
  .cuxiao{
      widows: 38px;
      padding-right: 10px;
      border-right: 1px solid #ccc;
     
  }
  .gg{
      margin-left: 15px;
  }
 .news-t .more{
      float: right;
  }
  .news-t div{
      height: 2px;
      width: 32px;
      background-color: #f10215;
      position: absolute;
      bottom: -1px;
      left: 0;
  }
  .news-b{
      padding-top: 20px;
  }
  .news-b li{
      margin-top: 4px;
  }
  .expand{
      height: 209px;
      background-color: skyblue;
  }
  .user-info{
      width: 50px;
      height: 50px;
      position: absolute;
      left: 0;
      top:0;

  }
  .user-info img{
      width: 100%;
      border-radius: 50%;
  }